@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos personalizados */

.bg-gradient-purple {
    background: linear-gradient(135deg, #6a00ff, #b000ff);
}

.header {
    background-color: black;
}

.brand-name {
    font-family: 'Bungee', sans-serif;
    font-size: 4rem;
    color: white;
}

.btn-descargar {
    background-color: #9333ea;
    color: white;
}

.btn-empezar {
    margin-top: 20px;
}

.carousel-container {
    max-width: 500px;
    margin: auto;
}